/* #region common */



:root {
    --main-color: #141922;
    --secondary-color: black;
    --header-color: #080b12;
    --footer-color: #282828;
    --highlight-color: #ffffff;
    --secondary-text-color: #7a7c81;
}

/* Firefox */

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* hide scrollbar for chrome safari and opera */
    ::-webkit-scrollbar {
        display: none;
    }

    /* hide scrollbar for IE and edge */
    -ms-overflow-style: none;

    /* hide scrollbar for firefox */
    scrollbar-width: none;
}

body {
    font-family: Montserrat;
    color: var(--secondary-text-color);
}

main {
    height: calc(100vh - 110px);
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

.d-flex {
    display: flex;
}

.highlight {
    /*to make important/highlighted text white*/
    color: var(--highlight-color);

}


/* #region debug */

.debug {

    * {
        border: 3px dotted black;
    }



    main {
        background-color: blue;

        #sidebar {
            background-color: orange;
        }

        #upgrade-plan {
            background-color: red;
            height: 110px;
        }

        #main-content {
            background-color: pink;
        }
    }

    footer {
        background-color: green;
        height: 110px;
    }



}

/* #endregion debug */

/* #endregion common */

/* #region header */

/* #endregion header */


/* #region main */

main {
    #sidebar {
        width: 50px;
        min-width: 50px;
        flex-direction: column;
        align-items: center;
        position: relative;
        background-color: var(--secondary-color);



        overflow-y: scroll;

        &>* {
            padding: 0 0.5rem 0.5rem 0.5rem;
        }



        .logo {

            padding-top: 0.5rem;

            a {



                img:last-child {
                    display: none;

                }
            }
        }




        .top-nav {


            & div:first-child {
                padding-top: 0;


            }

            a {

                span {
                    display: none;
                }


                img {
                    width: 30px;
                }
            }
        }

        .mid-nav {
            display: none;

            div {
                h4 {
                    padding: 0.5rem 0;
                }

                a {

                    display: block;
                    padding: 0.5rem 0;

                    span:not(.square) {

                        padding-left: 0.5rem;
                    }

                    span.square {
                        display: inline-block;
                        position: relative;
                        background-color: var(--footer-color);
                        width: 40px;
                        height: 40px;
                        vertical-align: middle;


                        i {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }

                }
            }





        }

        .bottom-nav {
            margin-top: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            hr {
                display: none;
            }

            .download-cta {
                span {
                    display: none;
                }

                padding-bottom: 0.75rem;
            }

            .user-profile {
                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    span {
                        display: none;
                        padding: 0 1rem;
                        vertical-align: super;
                    }

                    img {
                        padding-top: 0.75rem;
                        width: 70%;
                    }
                }
            }

        }

    }

    #main-content {
        background-color: var(--main-color);
        flex-grow: 1;
        overflow-y: scroll;

        /*fake header*/
        #upgrade-plan {
            height: 110px;
            background-color: var(--header-color);
            justify-content: flex-end;
            padding: 0.5rem;

            .upgrade-bttn {

                vertical-align: middle;
                align-self: center;

                border: 1px solid;
                border-radius: 2rem;

                padding: 1rem;

            }
        }

        #content {
            padding: 0 1rem;

            nav {
                flex-basis: 25%;
                flex-wrap: wrap;
                justify-content: center;
                padding: 1rem 0;

                a {
                    font-weight: 700;
                    margin: 0.5rem;
                    padding-bottom: 2rem;
                }
            }

            .row {

                .popular-artists-container& {
                    .d-flex {
                        .card {
                            .img-container {
                                img {
                                    border-radius: 50%;
                                }

                            }


                        }
                    }
                }

                .row-title {
                    padding: 2rem 0;

                    span {
                        /*display block because it wouldn't move the h1 otherwise*/
                        display: block;
                        margin-top: 1rem;
                    }
                }



                & div {
                    &.d-flex {
                        flex-wrap: wrap;
                    }




                    .card {

                        flex-basis: 50%;
                        padding: 1rem 0.2rem 0 0.2rem;

                        .img-container {
                            width: 100%;
                        }

                        .info-container {
                            text-align: center;

                            h3 {
                                padding-bottom: 1rem;
                            }

                        }

                    }
                }

            }


        }
    }
}

/* #endregion main */

/* #region footer */

footer {
    height: 110px;
    background-color: var(--footer-color);

    #main-bottom-nav {

        padding: 0rem;
        color: var(--highlight-color);
        align-items: center;
        justify-content: space-between;
        height: 100%;

        /* to avoid breaking when viewport width too low */
        overflow-x: scroll;


        .current-song {
            /* bottom left nav section for current song being played */
            width: 140px;
            min-width: 180px;
            justify-content: space-around;

            .img-container {
                flex-basis: 30%;

                a {
                    display: inline-block;
                    padding: 0.5rem;

                    img {
                        /* height auto to allow auto resizing when container changes */
                        height: auto;
                        width: 100%;

                    }
                }
            }

            .song-info {
                flex-basis: 50%;
                align-self: center;

                /* to color the song info lower text */
                a span {
                    color: var(--secondary-text-color);
                }
            }

            .song-interaction {
                /* favourite and folder icons styling */
                align-self: center;
                flex-basis: 10%;
                font-size: x-large;
                display: block;
            }
        }

        .song-nav {
            flex-grow: 1;
            text-align: center;
            /* to avoid exiting container when viewport width too low */
            min-width: fit-content;

            .song-control {
                justify-content: space-around;
                align-items: center;

                a:nth-child(3) {
                    i {
                        font-size: xx-large;
                    }
                }
            }
        }

        .utilities {
            width: 140px;
            min-width: 180px;
        }


    }
}

/* #endregion footer */

/* #region mediaqueries */


@media screen and (min-width:640px) {

    nav#sidebar {
        align-items: flex-start;

        width: 230px;
        min-width: 230px;

        &>* {
            padding: 0 2rem 2rem 2rem;
        }

        .logo {
            height: 110px;
            padding-top: 2rem;

            img:last-child {
                display: inline !important;

            }

            img:first-child {
                display: none;
            }
        }

        .top-nav {

            div {
                a {
                    span {
                        display: inline;
                    }
                }
            }
        }

        div.mid-nav {
            display: inline;
        }

        .bottom-nav {
            display: inline;

            .download-cta {
                span {
                    display: inline;
                    padding-left: 0.5rem;
                }
            }

            hr {
                display: block !important;
            }

            .user-profile {
                a {
                    span {
                        display: inline;
                    }

                    display: inline;

                    img {

                        width: 10%;
                    }
                }
            }
        }
    }

    footer {
        nav#main-bottom-nav {

            .current-song {
                /* resize left nav container to align to sidebar */
                width: 230px;
                /* min width to allow some movement */
                min-width: 180px;

                .img-container {

                    /* resize current song image */
                    a {
                        height: 100%;
                    }
                }
            }

            .utilities {
                /* resize right nav container to have same width as the left */
                width: 230px;
                /* min width to allow some movement */
                min-width: 180px;
            }
        }
    }
}




@media screen and (min-width:880px) {

    main {
        #main-content {
            #content {
                .row {
                    div {
                        div.card {
                            flex-basis: 25%;
                        }
                    }
                }
            }
        }
    }

    footer {
        nav#main-bottom-nav {
            .current-song {
                width: 230px;
                min-width: 230px;
            }

            .utilities {
                width: 230px;
                min-width: 230px;
            }
        }
    }
}

@media screen and (min-width:1440px) {

    main {
        #main-content {
            #content {
                .row {
                    div {
                        div.card {
                            flex-basis: calc(100% / 6);
                        }
                    }
                }
            }
        }
    }
}


/* #endregion mediaqueries */