/* #region common */



:root {
    --main-color: #141922;
    --secondary-color: black;
    --header-color: #080b12;
    --footer-color: #282828;
    --highlight-color: #ffffff;
    --secondary-text-color: #7a7c81;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
}

main {
    height: calc(100vh - 110px);
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

.d-flex {
    display: flex;
}

.highlight {
    /*to make important/highlighted text white*/
    color: var(--highlight-color);

}


/* #region debug */

.debug {

    * {
        border: 3px dotted black;
    }



    main {
        background-color: blue;

        #sidebar {
            background-color: orange;
        }

        #upgrade-plan {
            background-color: red;
            height: 110px;
        }

        #main-content {
            background-color: pink;
        }
    }

    footer {
        background-color: green;
        height: 110px;
    }



}

/* #endregion debug */

/* #endregion common */

/* #region header */

/* #endregion header */


/* #region main */

main {
    #sidebar {
        flex-direction: column;
        position: relative;
        background-color: var(--secondary-color);

        color: var(--secondary-text-color);
        width: 230px;
        overflow-y: scroll;

        &>* {
            padding: 0 2rem 2rem 2rem;
        }

        .logo {

            padding-top: 1.25rem;
            height: 110px;


            a {

                img {
                    width: 75%;

                }
            }
        }

        .top-nav {

            /* padding-left: 1.25rem; */

            & div:first-child {
                padding-top: 0;


            }

            a {
                span {
                    vertical-align: super;

                }


                img {
                    width: 30px;
                }
            }
        }

        .mid-nav {
            div {
                h4 {
                    padding: 0.5rem 0;
                }

                a {

                    display: block;
                    padding: 0.5rem 0;

                    span:not(.square) {

                        padding-left: 0.5rem;
                    }

                    span.square {
                        display: inline-block;
                        position: relative;
                        background-color: var(--footer-color);
                        width: 40px;
                        height: 40px;
                        vertical-align: middle;


                        i {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }

                }
            }





        }

        .bottom-nav {
            margin-top: auto;

            .download-cta {
                padding-bottom: 0.75rem;
            }

            .user-profile {
                a {
                    span {
                        padding: 0 1rem;
                        vertical-align: super;
                    }

                    img {
                        padding-top: 0.75rem;
                        width: 10%;
                    }
                }
            }

        }

    }

    #main-content {
        background-color: var(--main-color);
        flex-grow: 1;
        overflow-y: scroll;

        /*fake header*/
        #upgrade-plan {
            height: 110px;
            background-color: var(--header-color);
        }
    }
}

/* #endregion main */

/* #region footer */

footer {
    height: 110px;
    background-color: var(--footer-color);
}

/* #endregion footer */