/* #region common */
:root {
    --main-color: #141922;
    --secondary-color: black;
    /*transparent!!*/
    --header-color: #080b12e0;
    --footer-color: #282828;
    --highlight-color: #ffffff;
    --secondary-text-color: #7a7c81;

    --scroll-background-color: #282828;
    --scroll-thumb-color: white;
    /* warning with accent background flips based on brightness of color!! light means dark background and vice-versa */
    --range-slider-accent: white;
    --hover-slider-accent: #79b229;
    /* range-thumb-color is based on a filter!! */

    --hover-lines-color: lime;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: Montserrat;
    color: var(--secondary-text-color);

}

main {
    /* fixed height to make footer sticky */
    height: calc(100vh - 110px);

}

a {
    /*remove underline and make all anchors take container's color*/
    text-decoration: none;
    color: inherit;
}

img {
    /* make all images stay inside containers if something bad happens */
    width: 100%;
}

.d-flex {
    /* utility class */
    display: flex;
}

.highlight {
    /* utility class */
    /*to make important/highlighted text white*/
    color: var(--highlight-color);
}

/* #region scrollbarstyles */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--footer-color);
}

::-webkit-scrollbar-thumb {
    /* decides until what the background should show above */
    background-clip: content-box;
    /* with background-clip makes thumb appear smaller thanks to transparent */
    border: 5px solid transparent;
    border-radius: 9px;
    background-color: var(--highlight-color);
}

/* #endregion scrollbarstyles */

/* #region rangeinputstyles */

/*works on 77% of devices*/
.range {
    /*to make hover accurate*/
    height: 0.3rem;
    width: fit-content;
    /* align to the center of the span */
    position: relative;
    bottom: 0.17rem;

    input[type='range'] {

        width: 80%;
        height: 0.3rem;
        /*rounded edges*/
        border-radius: 5px;
        /*color when not in hover*/
        /* !!important light colors cause dark background and vice-versa */
        accent-color: var(--range-slider-accent);
    }

    input[type='range']::-webkit-slider-runnable-track {
        height: 0.3rem;
        /*allow slider to go all the way to the right*/
        margin-right: -12px;
    }

    input[type='range']::-webkit-slider-thumb {
        /*to change thumb color*/
        filter: brightness(0) saturate(100%) invert(100%) sepia(8%) saturate(0%) hue-rotate(320deg) brightness(110%) contrast(110%);
        /*hide when not in hover*/
        visibility: hidden;
        /* thumb sizing */
        height: 20px;
        width: 20px;
        /* align to slider line */
        margin-top: -5.25px;
        border-radius: 50%;
    }
}

/* todo add support for other browsers*/

/* #endregion rangeinputstyles */

/* #region hover elements */

::-webkit-scrollbar-thumb:hover {
    /* widens on hover by reducing transparent border*/
    border: 3px solid transparent;
}

a:hover {
    /* all anchors become highlited on hover */
    color: var(--highlight-color);

    span.square {
        /* background highlight for the + box on make playlist */
        background-color: var(--highlight-color) !important;
    }

    img {
        /* brighten on hover */
        filter: brightness(100%) !important;
    }

    span.hov-underlined {
        text-decoration: underline;
    }

    &.upgrade-bttn {
        transform: scale(1.1);
    }

    & .fa-circle-play {
        transform: scale(1.2);
    }
}

.top-nav {

    div {
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;


    }

    /* preselected element (home page, first child is home symbol) */
    div:first-of-type {
        border-left: 3px solid var(--hover-lines-color);
    }

    /* switches preselected helement when another element is hovered*/
    /*if .top-nav has a div in an hover state, and that div is not the first div (in this case home) make the border transparent*/
    &:has(div:hover:not(:first-of-type)) {
        div:first-of-type {
            border-left: 3px solid transparent;
        }
    }

    /* make border colored on hover */
    div:hover {
        border-left: 3px solid var(--hover-lines-color);
    }
}

.categories-nav {

    a {

        div {
            /* transparent to avoid page snapping on hover */
            border: 2px solid transparent;
            position: relative;
            width: 50%;

            /*25% because alignment starts from left-most of div which is already 50%*/
            left: 25%;
        }

        &:hover div {
            border-bottom: 2px solid var(--hover-lines-color);
        }
    }
}

.img-container:hover {
    img {
        /*dim on hover*/
        filter: brightness(50%);
    }

    i {
        /* display play button on cards */
        display: inline-block !important;
    }
}

.range {
    &:hover {

        input[type='range'] {
            /*make green on hover*/
            /* !!!!important light colors cause dark background and vice-versa */
            accent-color: var(--hover-slider-accent);
        }

        input[type='range']::-webkit-slider-thumb {
            /*show when in hover*/
            visibility: visible;

        }

    }
}

/* #end region hover elements */

/* #region debug */

.debug {

    * {
        border: 3px dotted black;
    }

    main {
        background-color: blue;

        #sidebar {
            background-color: orange;
        }

        #upgrade-plan {
            background-color: red;
            height: 110px;
        }

        #main-content {
            background-color: pink;
        }
    }

    footer {
        background-color: green;
        height: 110px;
    }
}

/* #endregion debug */

/* #endregion common */

/* #region main */
main {
    font-weight: 600;

    #sidebar {

        width: 50px;
        min-width: 50px;
        flex-direction: column;
        align-items: center;
        position: relative;
        background-color: var(--secondary-color);

        /*hide scrollbar of playlists*/
        &::-webkit-scrollbar {
            width: 0;
        }

        /* todo add style  */
        overflow-y: scroll;

        /* no top nav padding to allow accurate hover styling */
        &>*:not(.top-nav) {
            padding: 0 2rem 2rem 2rem;
        }

        .top-nav {
            /* to hide items behind when scrolling */
            background-color: var(--secondary-color);
            position: sticky;
            top: 0;
            /* to hide items behind when scrolling */
            z-index: 1;

            .logo {
                padding: 0.5rem;

                a {
                    img {
                        width: 100%;
                    }

                    img:last-child {
                        /* to hide second image that switches with media queries */
                        display: none;

                    }
                }
            }

            div {
                padding: 0 0.5rem;
                /*line-height instead of padding to avoid deadzones between buttons causing glitchy behavior*/
                line-height: 40px;

                a {

                    span {
                        /* hide sidebar text on low width */
                        display: none;
                        vertical-align: super;

                    }


                    img {
                        /* sidebar icon styling */
                        width: 30px;
                        /* dimm to allow hover behavior */
                        filter: brightness(50%);

                        &[src="assets/img/home.svg"] {
                            /* less dimmed to show currently selected */
                            filter: brightness(90%);
                        }
                    }
                }
            }
        }

        .mid-nav {
            /* completely hide playlist section */
            display: none;

            div {
                h4 {
                    padding: 0.5rem 0;
                }

                a {
                    /* avoid inline behavior of playlist-names */
                    display: block;
                    padding: 0.5rem 0;

                    /* different style for create playlist .square */
                    span:not(.square) {
                        padding-left: 0.5rem;
                    }

                    span.square {
                        display: inline-block;
                        position: relative;
                        background-color: var(--secondary-text-color);
                        width: 40px;
                        height: 40px;
                        /* align create playlist text */
                        vertical-align: middle;

                        i {
                            /* center the plus icon inside the square */
                            font-size: xx-large;
                            color: var(--secondary-color);
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }

        .bottom-nav {
            position: sticky;
            bottom: 0;
            margin-top: auto;
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--secondary-color);

            .download-cta {
                padding-bottom: 0.75rem;

                span {
                    display: none;
                }
            }

            hr {
                /* separation for download cta line hidden for low width screen */
                display: none;
            }

            .user-profile {
                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    span {
                        display: none;
                        padding: 0 1rem;
                        vertical-align: super;
                    }

                    img {
                        padding-top: 0.75rem;
                        width: 70%;
                    }
                }
            }
        }
    }

    #main-content {
        background-color: var(--main-color);
        overflow-y: scroll;
        font-weight: 700;

        /*fake header*/
        #upgrade-plan {
            /* avoid clipping */
            z-index: 3;
            position: sticky;
            top: 0;
            height: 110px;
            background-color: var(--header-color);
            justify-content: flex-end;
            padding: 1rem;

            .upgrade-bttn {
                vertical-align: middle;
                align-self: center;
                border: 1px solid;
                border-radius: 2rem;
                padding: 1rem;
            }
        }

        #content {
            padding: 0 1rem;

            nav {
                /* width for categories element */
                flex-basis: 25%;
                flex-wrap: wrap;
                justify-content: center;
                padding: 0.5rem 0;

                a {
                    margin: 0.5rem;
                    margin-bottom: 2rem;
                }
            }

            /*general style for rows inside #content*/
            .row {
                .row-title {
                    padding-bottom: 1.2rem;

                    h1 {
                        /* main row title */
                        font-size: x-large;
                    }

                    span {
                        /* subtitles for main titles of rows */
                        /*display inline-block because it wouldn't move the h1 otherwise*/
                        display: inline-block;
                        margin-top: 0.4rem;
                    }
                }

                & div {

                    /* card wrapper selector*/
                    &.d-flex {
                        flex-wrap: wrap;
                    }

                    .card {
                        flex-basis: 50%;
                        padding: 1rem 0.2rem 0 0.2rem;

                        .img-container {
                            position: relative;
                            width: 100%;

                            i {
                                /* style for hover playbutton */
                                display: none;
                                z-index: 2;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                font-size: 50px;
                                color: var(--highlight-color);
                            }
                        }

                        .info-container {
                            text-align: center;
                            padding-bottom: 2rem;

                            /* card bottom title */
                            h3 {
                                padding-top: 1rem;
                            }
                        }
                    }
                }
            }

            .popular-artists-container .img-container img {
                /* round images for artists */
                border-radius: 50%;
            }
        }
    }
}

/* #endregion main */

/* #region footer */

footer {
    font-weight: 600;
    height: 110px;
    background-color: var(--footer-color);

    #main-bottom-nav {

        padding: 0rem;
        color: var(--highlight-color);
        align-items: center;
        justify-content: space-between;
        height: 100%;

        /* bottom left nav section for current song being played */
        .current-song {
            /* avoid breaking on low widths */
            width: 140px;
            justify-content: space-around;

            .img-container {
                flex-basis: 40%;

                a {
                    display: inline-block;
                    padding: 0.5rem;

                    img {

                        /* height auto to allow auto resizing when container changes */
                        height: auto;
                        width: 100%;
                    }
                }
            }

            /* title,name, and author text styling */
            .song-info {
                flex-basis: 40%;
                align-self: center;
                font-size: x-small;
                padding-right: 0.5rem;

                /* song title name heading */
                h4 {
                    font-size: small;
                }

                /* to color the song info lower text */
                a span {
                    color: var(--secondary-text-color);
                }
            }

            .song-interaction {
                /* favourite and folder icons styling */
                align-self: center;
                flex-basis: 20%;

                a {
                    /* to make icons stack on low width, change in media queries */
                    display: block;
                }

                color: var(--secondary-text-color);
            }
        }

        /* main navigation container for songs */
        .song-nav {
            flex-grow: 1;
            text-align: center;

            /* container for button control of songs */
            .song-control {
                justify-content: center;
                align-items: center;
                gap: 1.5rem;
                padding-bottom: 1rem;
                /* avoid breaking on low width */
                min-width: 200px;

                /* make play button larger also enlarged on hover*/
                a:nth-child(3) {
                    i {
                        font-size: xx-large;
                    }
                }
            }

            /* song-time slider container */
            .song-time-control {
                justify-content: center;
                font-size: smaller;

                /* make range slider take up more space */
                span:nth-child(2) {
                    flex-basis: 60%;
                }
            }
        }

        /* bottom right menu for uncommon functions and volume control */
        .utilities {
            /* avoid breaking on low widths */
            width: 200px;
            font-size: smaller;
            justify-content: center;
            gap: 5%;
            padding: 0 1rem;
        }
    }
}

/* #endregion footer */

/* #region mediaqueries */
@media screen and (min-width:640px) {

    nav#sidebar {
        /* align all items to the left instead of centered on wider sidebar */
        align-items: flex-start;
        /* enlarge sidebar */
        width: 230px;
        /* avoid shrinking on low widths */
        min-width: 230px;

        .top-nav {

            div {
                /* padding to account for hover margin */
                padding: 0 calc(2rem - 3px);

                a {
                    span {
                        /* unhide main pages text */
                        display: inline;
                    }
                }
            }

            .logo {
                /* enlarge top logo */
                height: 110px;
                padding-top: 2rem;

                img:last-child {
                    /* switch displayed logo */
                    display: inline !important;
                }

                img:first-child {
                    /* switch displayed logo */
                    display: none;
                }
            }


        }

        div.mid-nav {
            /* unhide playlist section */
            display: inline;
        }

        .bottom-nav {
            /* switch from flex to inline */
            display: inline;

            .download-cta {
                span {
                    /* unhide cta text */
                    display: inline;
                    padding-left: 0.5rem;
                }
            }

            hr {
                /* unhide hr */
                display: block !important;
            }

            .user-profile {
                a {
                    /* switch from flex */
                    display: inline;

                    span {
                        /* unhide profile name */
                        display: inline;
                    }

                    img {
                        /* profile picture styling */
                        width: 10%;
                    }
                }
            }
        }
    }

    footer {
        nav#main-bottom-nav {

            &>div:not(:nth-child(2)) {
                /* resize left and right nav containers*/
                width: 200px;
            }

            /*current song container image resizing*/
            .current-song .img-container {
                flex-basis: 30%;
            }

        }
    }
}

@media screen and (min-width:880px) {

    main #main-content #content .row div div.card {
        /* change card width */
        flex-basis: 25%;
    }

    footer {
        nav#main-bottom-nav {

            &>div:not(:nth-child(2)) {
                /* widen outer bottom navs */
                width: 230px;
            }

            .current-song .song-interaction {

                /*change interaction elements from column to row*/
                a {
                    display: inline-block;
                    padding-right: 0.3rem;
                }
            }
        }
    }
}

@media screen and (min-width:1440px) {

    /* reduce card container width */
    main #main-content #content .row div div.card {
        flex-basis: calc(100% / 6);
    }
}

/* #endregion mediaqueries */